body {
    background-image: url("../res/backg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.profilePic {
    padding: 20px;
    border-radius: 50%;
    background-color: #ffecb1;
    margin: 25px;
}

.profilePic img{
    border-radius: 50%;
}

.menu {
    display: flex;
    background-color: rgba(255, 236, 177, 0.3);
    border-radius: 30px;
    margin: 45px;
}
